# WELCOME TO PYTHON

```
This will be a (brief) introduction to Python using Jupyter notebooks.
Roughly, we are going to cover the following material:

1) Strings, int, float, dict, lists, sets
2) functions
3) numpy
4) matplotlib
```

```
The above is far from comprehensive but covers all of the essentials needed for the course.
```

## Let's start with 'str'

Strings are used quite frequently within Python. To create a string just have text between " " or ' ', for example:

In [2]:
type("this is a 'string'")

str

In [3]:
print("this is a 'string'")

this is a 'string'

Use \n to add new lines within a string, for example

In [10]:
print('Python is the present\nJax is the future')

Python is the present
Jax is the future

Each object in python has methods. Strings are not the exception.

Feel free to try these later: 
```python
.title() 

.upper() 

.strip()
```

Other useful methods are 

```python
"The Importance of Being Earnest".find("Importance")

"The roeman empire".replace("roeman", "roman")
```

Accessing parts of the string (this will also be relevant later)

Python puede contar de izquierda a derecha (empezando con 0) y de derecha a izquierda (empezando con -1)
```c
 P   Y   T   H   O   N
 0   1   2   3   4   5
-6  -5  -4  -3  -2  -1
```

What will the following operations produce?

```python
"Leandro"[-1]
"Gerardo"[1]
"ML"[0]
```

Sometimes you need more than just one element. Slicing works as follows:

In [16]:
ini = 1
fin = 4
"slicing"[ini:fin]

'lic'

## Next, we study 'int' and 'float'

In [17]:
type(4)

int

In [18]:
type(4.)

float

#### Operations

```python
5 + 4
5 - 4
5 * 4
5 / 4
5 // 4 
5 ** 4
5 % 2
```

#### Numerical functions

```python
round(3.141592653589793, 3)
max(-3, 1, 9, 4.9)
min(-3, 1)
complex(1, 2)
bin(10)
format(1e10, ",.2f")
format(0.7645, ".2%")
float("3.9999")
int("10")
```

In [26]:
format(1e10, ",.2f")

'10,000,000,000.00'

In [27]:
format(0.7645, ".2%")

'76.45%'

# Variables

A variable is the direction to a place in memory where an object lives. They are used as follows:

```c
nombre_variable = <objeto>
```

Rules:

1) Variables can contain numbers, letters and underscores
2) Variables cannot start with a number
3) Variables distinguish between uppercase and lowercase

In [45]:
name = "Leandro"
last_name = "Sanchez-Betancourt"
affiliation = "OMI"
print(name, last_name)

Leandro Sanchez-Betancourt

In [46]:
print(name, last_name, sep="...", end="...") ## By default end = "\n" another useful value is "\t" to use tab space
print(affiliation)

Leandro...Sanchez-Betancourt...OMI

In [48]:
print("Welcome {} {} from {}".format(name, last_name, affiliation))

Welcome Leandro Sanchez-Betancourt from OMI

In [49]:
print(f"Welcome {name} {last_name} from {affiliation}")

Welcome Leandro Sanchez-Betancourt from OMI

In [50]:
# An f-string can evaluate any expression within the keys {}
num1 = 2
num2 = 5
print(f"{num1} + {num2} = {num1 + num2}")

2 + 5 = 7

# Lists
#### [mutable]

A list is defined by separating elements with commas and using square brackets

In [51]:
x = [1, 2, 3]

In [56]:
y = [[1,2,3],3,[[2,3],[5,2]]]

In [57]:
print(f'Number of elements of x is {len(x)} and number of elements in y is {len(y)}')

Number of elements of x is 3 and number of elements in y is 3

In [63]:
x[0]

1

In [65]:
y[0]

[1, 2, 3]

In [66]:
y[0][1]

2

In [68]:
# You can delete elements of a list using del
lectures = ["ALGEBRA", "FINANCE", "OPTIMISATION", "GEOMETRY", "PROGRAMMING", "STATISTICS"]
del lectures[1:3]
print(lectures)

['ALGEBRA', 'GEOMETRY', 'PROGRAMMING', 'STATISTICS']

```c
Objects such as 1:3 work within [ ] to access a range of values but to define the object itself we need to use slice() as follows
```

In [72]:
idx = slice(1,3)
lectures[idx]

['GEOMETRY', 'PROGRAMMING']

#### Concatenate two lists

In [74]:
mathematicians = ["Gauss", "Fermat", "Spivak ", "Oksendal"]
physicists = ["Newton", "Einstein", "Maxwell"]

alwhlrawnlfkwafla = mathematicians + physicists
alwhlrawnlfkwafla

['Gauss', 'Fermat', 'Spivak ', 'Oksendal', 'Newton', 'Einstein', 'Maxwell']

In [77]:
mathematicians = ["Gauss", "Fermat", "Spivak ", "Oksendal"]
numbers = [1,2,3]

mathematicians + physicists

['Gauss', 'Fermat', 'Spivak ', 'Oksendal', 1, 2, 3]

# Tuples
#### (inmutable)

In [81]:
#Tuples are defined using ()
lectures = ("ALGEBRA", "FINANCE", "OPTIMISATION", "GEOMETRY", "PROGRAMMING", "STATISTICS")
type(lectures)

tuple

In [85]:
1, 2, 3

(1, 2, 3)

when should you use tuples?

# Dictonaries

## {Key: Value}

Until now we've seen collections of ordered elements (indexed with numbers)

Next, we study dictionaries which use "keys" to index their elements

The syntax is:
```python
{key_1: value_1,
 key_2: value_2,
 ...
 key_n: value_n}
```

In [87]:
students = {
    "Alvaro":    [23, "Engineering", "DPhil"],
    "Pat": [25, "Mathematics", "DPhil"],
    "Fay": [32, "Mathematics", "Postdoc"],
    "Gerardo": [29, "Statistics", "PhD"]
}
print(students)

{'Alvaro': [23, 'Engineering', 'DPhil'], 'Pat': [25, 'Mathematics', 'DPhil'], 'Fay': [32, 'Mathematics', 'Postdoc'], 'Gerardo': [29, 'Statistics', 'PhD']}

In [88]:
print(students['Gerardo'])

[29, 'Statistics', 'PhD']

In [89]:
del students["Gerardo"]

In [91]:
students

{'Alvaro': [23, 'Engineering', 'DPhil'],
 'Pat': [25, 'Mathematics', 'DPhil'],
 'Fay': [32, 'Mathematics', 'Postdoc']}

#### A key can be any hashable object

In [99]:
help(hash)

Help on built-in function hash in module builtins:

hash(obj, /)
    Return the hash value for the given object.

    Two objects that compare equal must also have the same hash value, but the
    reverse is not necessarily true.

In [96]:
students[(1,2)] = 1
students[23] = 1
students[(23,)] = 1
students

{'Alvaro': [23, 'Engineering', 'DPhil'],
 'Pat': [25, 'Mathematics', 'DPhil'],
 'Fay': [32, 'Mathematics', 'Postdoc'],
 (1, 2): 1,
 23: 1,
 (23,): 1}

In [98]:
students[[23,2]] = 1

TypeError: unhashable type: 'list'

#### Fancier dictionaries

In [100]:
students = {
    "Alvaro":   {
        "age": 23,
        "department": "Engineering",
        "degree" : "DPhil"
    },
    "Pat": {
        "age": 25,
        "department": "Mathematics",
        "degree" : "DPhil"
    },
    "Fay": {
        "age": 32,
        "department": "Engineering",
        "degree" : "Postdoc"
    },
    "Gerardo": {
        "age": 29,
        "department": "Statistics",
        "degree" : "PhD"
    }
}

In [102]:
students["Gerardo"]["department"]

'Statistics'

# {Sets}

A `set` is a collection of unordered unique values. We have the following operations

* `A & B` (Intersection)
* `A | B` (Union)
* `A - B` (Difference)
* `A ^ B` (Symmetric difference) complement of A intersected with B
* `A <= B` (Subset) Checks if `A` is subset of `B`
* `A >= B`

# Booleans

Similar to `int`s and `float`s, bools have operators:

* `==`
* `!=`
* `not`
* `and`
* `or`

# Loops

```
Loops are a great way to perform similar calculations multiple times. 

Consider the following problem: 
For each radius in the list of radii (that's the plural of radius) [1,2,5,7,10,15] we wish to print the area of a cicle with such a radius. 
```

In [5]:
import math

In [16]:
r = [1,2,5,7,10,15]
for x in r:
    print(f'Area of circle with radius {x} is {math.pi*x**2 :.2f}')

Area of circle with radius 1 is 3.14
Area of circle with radius 2 is 12.57
Area of circle with radius 5 is 78.54
Area of circle with radius 7 is 153.94
Area of circle with radius 10 is 314.16
Area of circle with radius 15 is 706.86

## `For` loops
We use a `for` loop when **we know exactly** the number of times we wish to perform an iteration.

The sintax for a *for loop* in Python is

```python
for varval in iterable:
    ...
```

* `iterable` is anything that has an index (list, dictionary, string)
* `varval` variable taking values on each of the elements that are `iterable`
* Block of code (tab spacing) after `for` repeats for each `varval` in `iterable`

In [17]:
word = "Beseechingly"
for letter in word:
    print(letter)

B
e
s
e
e
c
h
i
n
g
l
y

**Range**  
To create an iterable of numbers we use the function `range`, which can be used in three ways:
* `range(a)` creates a range of values from  `0` until `a-1`
* `range(a, b)` creates a range of values from `a` until `b-1`
* `range(a, b, s)` creates a range of values from  `a` until `b-1` skipping `s`

## `while` loops
Unlike the `for` loop, a `while` loop **does not necessarily know the number of times the loop will iterate**. The sintax of a `while` loop is as follows.

```python
while condition:
    ...
```

* `condition` is a boolean which is evaluated at the start of each cicle. If `condition == True`, the block will be evaluated, otherwise the cicle stops.

A while loop repeats as long as `condition` is `True`

In [20]:
x = 1
while x <= 10:
    print(x, end=" ")
    x = x + 1

1 2 3 4 5 6 7 8 9 10

**The `break` keyword**  
We use `break` to end a loop prematurely. For example:

In [21]:
meals = []
print("Insert your favourite meals. Type 'end' to end the program")
while True: # Condition will always be true
    meal = input("Meal: ")
    if meal != "end":
        meals.append(meal)
    else:
        print("Thank you for your input.")
        break
print(meals)

Insert your favourite meals. Type 'end' to end the program
Meal: Paella
Meal: Duck confit
Meal: end
Thank you for your input.
['Paella', 'Duck confit']

## Grouping elements with `zip`
Sometimes we need to group lists entry by entry. For this we use `zip`.

`zip` returns a generator of *tuples* entry by entry. Consider the following example

In [26]:
age = [32,29,33]
name = ['Leandro', 'Gerardo', 'Fay']
affiliation  = ['OMI','QMUL', 'OMI']

print(list(zip(age, name, affiliation)))

[(32, 'Leandro', 'OMI'), (29, 'Gerardo', 'QMUL'), (33, 'Fay', 'OMI')]

```
The following is an example closer to home:
```

In [27]:
tickers = ["AAPL", "AMZN", "FB", "GOOG"]
companies = ["Apple", "Amazon", "Facebook", "Alphabet"]
comp_tick = {} # diccionary
for ticker, company in zip(tickers, companies):
    comp_tick[company] = ticker
    
print(comp_tick)

{'Apple': 'AAPL', 'Amazon': 'AMZN', 'Facebook': 'FB', 'Alphabet': 'GOOG'}

# Functions

```
Functions we already know:
```

```Python
len([1, 2, 3, 4])
sum([1, 2, 3, 4])
print("f(x)")
pow(3, 2)
abs(-3)
```

We create a function in Python with the keyword `def` (*definition*) followed by the name of the function and the syntax:

```python
def nombre_funcion(param1, param2, ..., paramN):
    <operations>
```

* `param1`, `param2` are the 'inputs' of the function. In the nomenclature of Python these are referred as parameters that once they are given values are called inputs.


* Similar to the loops (`for`, `while`) and control flow statements (`if`, `else`, `elif`), functions are defined after the 'def' statement with a 'tab' spacing as usual.

In [28]:
def function():
    print("¡Esto es una función!")

function()

¡Esto es una función!

In [29]:
math.sqrt(54)

7.3484692283495345

In [37]:
def find_two_roots(a,b,c):
    # Finds the root of ax^2 + bx + c = 0
    if round(a, 10) == 0:
        print('This is not a quadratic equation.')
        return []
    if b**2-4*a*c<0:
        print('There are no real roots.')
        return []
    root_1 = (-b + math.sqrt(b**2 - 4*a*c))/(2*a)
    root_2 = (-b - math.sqrt(b**2 - 4*a*c))/(2*a)
    return root_1, root_2

In [41]:
find_two_roots(a = 1, b = 1, c =1)

There are no real roots.

[]

<h2> Exercise </h2>

Code the function ```distance_lp``` which for a given value of $p>0$ it computes the following distance between two vectors in $\mathbb{R}^n$:

$$
d(\mathbf{x}, \mathbf{y}) = \left( \sum_{i=1}^{n} \left(x_i - y_i \right)^{p} \right)^{1/p}
$$

# Libraries

One of the great things about Python is the gigantic number of previously-coded functions we have access to. 

Suites of **functions** are usually packed within a library.

When you install Python, there are a number of libraries we can use. These libraries are  in https://docs.python.org/3/py-modindex.html.

To make use a library we need to import it.

**There are three ways to do this:**
```python
import library
from library import module
import library as lib
```

Given an imported library, we can access their functions as follows

```python
import lib
lib.func()
```

In [42]:
import math
math.cos(0)

1.0

In [43]:
from math import e, log

In [47]:
log(e)

1.0

In [48]:
import math as m
m.exp(2)

7.38905609893065

In [49]:
from math import exp as exponential
exponential(2)

7.38905609893065

<h2> Exercise </h2>

**The Collatz conjecture**

Define the following function: for each integer $n \geq 2$ if $n$ is even, divide by $2$; if $n$ is odd, multiply by $3$ and add one. That is, $C(n)$ looks like
$$
    C(n) = \begin{cases}
        n / 2 & n \text{ es par}  \\
        3n + 1 & n \text{ es impar}
    \end{cases}
$$

The Collatz conjecture says that regarless of the starting point $n$, if one performs the following calculation
$$
C^{(m)}(n)=\underbrace{C(C(\dots C(n)\dots))}_{m \text{ times}}
$$
then 
$$
\lim_{m\to\infty}C^{(m)}(n) = 1\,.
$$


Write the function `collatz` that for a given $n\geq 2$ returns the number $m$ of steps it takes for $C^{(m)}(n)$ to reach one. For example, if $n=3$, then `collatz`$(n)=7$ because we have the following sequence of recursive evaluations:
```
3 10 5 16 8 4 2 1 
```
```python
>>> collatz(3)
7
>>> collatz(7)
16
>>> collatz(2 ** 100 - 1)
108
>>> collatz(63728127)
949
```

How would you modify the code to also return the sequence of points.

## `*args` & `**kwargs`
We use `*args` for additional arguments in a function and `**kwargs` for arguments with keys. We need them because sometimes we do not know the number of arguments we would need a priori.

In [55]:
def function_args(*args):
    print('Here args:', args)
    print(args[2])

In [56]:
function_args(1,2,3,4)

Here args: (1, 2, 3, 4)
3

In [58]:
function_args(1,2,3,4,5,6,7)

Here args: (1, 2, 3, 4, 5, 6, 7)
3

In [60]:
def function_kwargs(**kwargs):
    print("Here kwargs", kwargs)
    print(kwargs['a'])

In [61]:
function_kwargs(a=1, b=2, c = [1,2,3,4], d = 'hola')

Here kwargs {'a': 1, 'b': 2, 'c': [1, 2, 3, 4], 'd': 'hola'}
1

In [62]:
def function_args_kwargs(x= 'hello world', *args, **kwargs):
    print(x)
    print(args)
    print(kwargs)

In [63]:
function_args_kwargs(1,2,3,4,5,a=1,b=2,c=3)

1
(2, 3, 4, 5)
{'a': 1, 'b': 2, 'c': 3}

<h2> Exercise </h2>

1. Use `*args` to write a function called `unique` that takes `n` integers and returns a list with the unique values.

```python
>>> unique(1, 2, 3, 4, 2, 3, 4)
[1, 2, 3, 4]
>>> unique(1, 1, 2)
[1, 2]
```

# OS, directories, and other useful stuff

```
! lets us execute in the command line
```

In [78]:
!pwd

/Users/leandrosb/Documents/GitHub/online-ml-finance

In [79]:
!ls ./

00-intro-to-python.ipynb     README.md
01-deep-learning-intro.ipynb data
01-jax.ipynb                 optimal-exectution.ipynb

### `open` (reading files)

To open and read a file we use `open` (the first argument is the location)

```python
open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)
```