# WELCOME TO PYTHON

```
This will be a (brief) introduction to Python using Jupyter notebooks.
Roughly, we are going to cover the following material:

1) Strings, int, float, dict, lists, sets
2) functions
3) numpy
4) matplotlib
```

## Let's start with 'str'

Strings are used quite frequently within Python. To create a string just have text between " " or ' ', for example:

In [2]:
type("this is a 'string'")

str

In [3]:
print("this is a 'string'")

this is a 'string'

Use \n to add new lines within a string, for example

In [10]:
print('Python is the present\nJax is the future')

Python is the present
Jax is the future

Each object in python has methods. Strings are not the exception.

Feel free to try these later: 
```python
.title() 

.upper() 

.strip()
```

Other useful methods are 

```python
"The Importance of Being Earnest".find("Importance")

"The roeman empire".replace("roeman", "roman")
```

Accessing parts of the string (this will also be relevant later)

Python puede contar de izquierda a derecha (empezando con 0) y de derecha a izquierda (empezando con -1)
```c
 P   Y   T   H   O   N
 0   1   2   3   4   5
-6  -5  -4  -3  -2  -1
```

What will the following operations produce?

```python
"Leandro"[-1]
"Gerardo"[1]
"ML"[0]
```

Sometimes you need more than just one element. Slicing works as follows:

In [16]:
ini = 1
fin = 4
"slicing"[ini:fin]

'lic'

## Next, we study 'int' and 'float'

In [17]:
type(4)

int

In [18]:
type(4.)

float

#### Operations

```python
5 + 4
5 - 4
5 * 4
5 / 4
5 // 4 
5 ** 4
5 % 2
```

#### Numerical functions

```python
round(3.141592653589793, 3)
max(-3, 1, 9, 4.9)
min(-3, 1)
complex(1, 2)
bin(10)
format(1e10, ",.2f")
format(0.7645, ".2%")
float("3.9999")
int("10")
```

In [26]:
format(1e10, ",.2f")

'10,000,000,000.00'

In [27]:
format(0.7645, ".2%")

'76.45%'

# Variables

A variable is the direction to a place in memory where an object lives. They are used as follows:

```c
nombre_variable = <objeto>
```

Rules:

1) Variables can contain numbers, letters and underscores
2) Variables cannot start with a number
3) Variables distinguish between uppercase and lowercase

In [45]:
name = "Leandro"
last_name = "Sanchez-Betancourt"
affiliation = "OMI"
print(name, last_name)

Leandro Sanchez-Betancourt

In [46]:
print(name, last_name, sep="...", end="...") ## By default end = "\n" another useful value is "\t" to use tab space
print(affiliation)

Leandro...Sanchez-Betancourt...OMI

In [48]:
print("Welcome {} {} from {}".format(name, last_name, affiliation))

Welcome Leandro Sanchez-Betancourt from OMI

In [49]:
print(f"Welcome {name} {last_name} from {affiliation}")

Welcome Leandro Sanchez-Betancourt from OMI

In [50]:
# An f-string can evaluate any expression within the keys {}
num1 = 2
num2 = 5
print(f"{num1} + {num2} = {num1 + num2}")

2 + 5 = 7

# Lists
#### [mutable]

A list is defined by separating elements with commas and using square brackets

In [51]:
x = [1, 2, 3]

In [56]:
y = [[1,2,3],3,[[2,3],[5,2]]]

In [57]:
print(f'Number of elements of x is {len(x)} and number of elements in y is {len(y)}')

Number of elements of x is 3 and number of elements in y is 3

In [63]:
x[0]

1

In [65]:
y[0]

[1, 2, 3]

In [66]:
y[0][1]

2

In [68]:
# You can delete elements of a list using del
lectures = ["ALGEBRA", "FINANCE", "OPTIMISATION", "GEOMETRY", "PROGRAMMING", "STATISTICS"]
del lectures[1:3]
print(lectures)

['ALGEBRA', 'GEOMETRY', 'PROGRAMMING', 'STATISTICS']

```c
Objects such as 1:3 work within [ ] to access a range of values but to define the object itself we need to use slice() as follows
```

In [72]:
idx = slice(1,3)
lectures[idx]

['GEOMETRY', 'PROGRAMMING']

#### Concatenate two lists

In [74]:
mathematicians = ["Gauss", "Fermat", "Spivak ", "Oksendal"]
physicists = ["Newton", "Einstein", "Maxwell"]

alwhlrawnlfkwafla = mathematicians + physicists
alwhlrawnlfkwafla

['Gauss', 'Fermat', 'Spivak ', 'Oksendal', 'Newton', 'Einstein', 'Maxwell']

In [77]:
mathematicians = ["Gauss", "Fermat", "Spivak ", "Oksendal"]
numbers = [1,2,3]

mathematicians + physicists

['Gauss', 'Fermat', 'Spivak ', 'Oksendal', 1, 2, 3]

# Tuples
#### (inmutable)

In [81]:
#Tuples are defined using ()
lectures = ("ALGEBRA", "FINANCE", "OPTIMISATION", "GEOMETRY", "PROGRAMMING", "STATISTICS")
type(lectures)

tuple

In [85]:
1, 2, 3

(1, 2, 3)

when should you use tuples?

# Dictonaries

## {Key: Value}

Until now we've seen collections of ordered elements (indexed with numbers)

Next, we study dictionaries which use "keys" to index their elements

The syntax is:
```python
{key_1: value_1,
 key_2: value_2,
 ...
 key_n: value_n}
```

In [87]:
students = {
    "Alvaro":    [23, "Engineering", "DPhil"],
    "Pat": [25, "Mathematics", "DPhil"],
    "Fay": [32, "Mathematics", "Postdoc"],
    "Gerardo": [29, "Statistics", "PhD"]
}
print(students)

{'Alvaro': [23, 'Engineering', 'DPhil'], 'Pat': [25, 'Mathematics', 'DPhil'], 'Fay': [32, 'Mathematics', 'Postdoc'], 'Gerardo': [29, 'Statistics', 'PhD']}

In [88]:
print(students['Gerardo'])

[29, 'Statistics', 'PhD']

In [89]:
del students["Gerardo"]

In [91]:
students

{'Alvaro': [23, 'Engineering', 'DPhil'],
 'Pat': [25, 'Mathematics', 'DPhil'],
 'Fay': [32, 'Mathematics', 'Postdoc']}

#### A key can be any hashable object

In [99]:
help(hash)

Help on built-in function hash in module builtins:

hash(obj, /)
    Return the hash value for the given object.

    Two objects that compare equal must also have the same hash value, but the
    reverse is not necessarily true.

In [96]:
students[(1,2)] = 1
students[23] = 1
students[(23,)] = 1
students

{'Alvaro': [23, 'Engineering', 'DPhil'],
 'Pat': [25, 'Mathematics', 'DPhil'],
 'Fay': [32, 'Mathematics', 'Postdoc'],
 (1, 2): 1,
 23: 1,
 (23,): 1}

In [98]:
students[[23,2]] = 1

TypeError: unhashable type: 'list'

#### Fancier dictionaries

In [100]:
students = {
    "Alvaro":   {
        "age": 23,
        "department": "Engineering",
        "degree" : "DPhil"
    },
    "Pat": {
        "age": 25,
        "department": "Mathematics",
        "degree" : "DPhil"
    },
    "Fay": {
        "age": 32,
        "department": "Engineering",
        "degree" : "Postdoc"
    },
    "Gerardo": {
        "age": 29,
        "department": "Statistics",
        "degree" : "PhD"
    }
}

In [102]:
students["Gerardo"]["department"]

'Statistics'

# {Sets}

A `set` is a collection of unordered unique values. We have the following operations

* `A & B` (Intersection)
* `A | B` (Union)
* `A - B` (Difference)
* `A ^ B` (Symmetric difference) complement of A intersected with B
* `A <= B` (Subset) Checks if `A` is subset of `B`
* `A >= B`

# Booleans

Similar to `int`s and `float`s, bools have operators:

* `==`
* `!=`
* `not`
* `and`
* `or`